<template>
  <div style="display:block; width:100%;">
    <div style="width:50%; float: left; display: inline-block;">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="pull-left task-title">Devices</h2>
          <button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#deviceCreate">New Device</button>
        </div>
      </div>

      <div class="devices" v-if="devices">
        <hr>
        <grid id="deviceTable" :cols="cols" :rows="rows" :pagination=true></grid>
      </div>
      <div class="timers" v-else>
        Loading...
      </div>
    </div>
    <div style="width:50%; float: right; display: inline-block;">
      MAAAAAAAAAAAAAAAP
    </div>

    <!-- add new device map modal form -->
    <div class="modal fade" id="deviceCreate" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">New Device</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input v-model="newDeviceId" type="text" class="form-control" id="device-id" placeholder="Device ID">
            </div>
            <div class="form-group">
              <input v-model="newDeviceLon" type="text" class="form-control" id="device-lon" placeholder="Longitude">
              <input v-model="newDeviceLat" type="text" class="form-control" id="device-lat" placeholder="Latitude">
            </div>
            <div class="form-group">
              <input type="checkbox" id="newWorkDevice" value="1" v-model="newDeviceType" :disabled="newDeviceType.length > 0">
              <label for="newWorkDevice">Work</label>
              <input type="checkbox" id="newHomeDevice" value="2" v-model="newDeviceType" :disabled="newDeviceType.length > 0">
              <label for="newHomeDevice">Home</label>
            </div>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" v-bind:disabled="newDeviceId == ''" @click="createNewDevice" type="submit" class="btn btn-default btn-success">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Grid from 'gridjs-vue'
export default {
  components: {
    Grid,
  },
  data: function() {
    return {
      devices: null,
      newDeviceId: '',
      newDeviceLon: '',
      newDeviceLat: '',
      newDeviceType: '',
      cols: [],
      rows: [],
      url: 'http://localhost:8080',
    }
  },
  created() {
    /**
     * TODO: BaseUrl Should be configed somewhere
     */
    axios.defaults.baseURL = this.url;
    axios.get('/devices').then(res => {
      this.devices = res.data;
      this.cols = [
        {
          name: 'ID',
          id: 'deviceId'
        },
        {
          name: 'GPS',
          id: 'gps'
        },
        {
          name: 'Type',
          id: 'type'
        },
      ];
      this.rows = this.devices;
    })
  },
  methods: {
    /**
     * Create a new device.
     */
    createNewDevice() {
      axios.post('/device/create', {
        deviceId: this.newDeviceId,
        gps: this.newDeviceLon + ',' + this.newDeviceLat,
        type: this.newDeviceType,
      })
          .then(res => {
            this.devices.push(res.data)
          })
    },
  },
}
</script>