{% extends 'base.html.twig' %}

{% block title %}Login {% endblock %}

{% block body %}

    <div class="col-sm-12 wrapper">

        <div class="auth-form">

            <h2 class="text-center">Login</h2>
            <hr>

            {% if error %}
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>

            {% endif %}

            <form action="{{ path('login') }}" method="post">

                <div class="form-group col-md-12">

                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" name="_username" value="" autocomplete="off"/>

                </div>


                <div class="form-group col-md-12">

                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" name="_password" />

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">Login</button>
                </div>

                <div class="text-center form-group">
                    Don't have an account? <span><a href="{{ path('user_registration') }}">Register</a></span>
                </div>
            </form>
        </div>

    </div>

{% endblock %}