$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.wrapper {
    margin-top: 30px;
}

.auth-form {
    width: 450px;
    margin: 0 auto;
}
