{% extends 'base.html.twig' %}

{% block title %}
    Device map Application
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="jumbotron text-center">
            <h2> Device map built with Symfony and Vue </h2>

            <div>
                {% if app.user %}

                    <a href="{{ path('home') }}" class="btn btn-default">Devices</a>

                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-default">Login</a>
                    <a href="{{ path('user_registration') }}" class="btn btn-default">Register</a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}