<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('default') }}"> Device Map Application </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('home') }}">Devices</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>

                        {% else %}

                            <li><a href="{{ path('login') }}">Login</a></li>
                            <li><a href="{{ path('user_registration') }}">Register</a></li>

                        {% endif %}
                    </ul>
                </div>
            </nav>


            {% block body %}{% endblock %}
        </div>
    </body>
</html>
